<a href="https://colab.research.google.com/github/Calvin-Costa/cursopythonpanda/blob/main/Caderno1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Primeiro exemplo de manipulação de dados usando Python Pandas.

Autor: Calvin Costa

Data: 06 de Fevereiro de 2023

In [ ]:
# Instalar o pandas: !pip install pandas
# o ! é requerimento do colab. Fora dele é sem o !

In [ ]:
# importando biblioteca pandas no Python
import pandas as pd

ca_df = pd.read_excel("ca-2021-02.xlsx")

In [ ]:
#usa o print para ver o dataframe!
print(ca_df)

In [ ]:
#usar o display para ver o dataframe fica muito melhor!
display(ca_df)

In [ ]:

#exibir as primeiras 15 linhas
display(ca_df.head(15))

In [ ]:
# comando df.shape
print(ca_df.shape) #mostra numero de linhas e colunas (l,c)
print(ca_df.shape[0]) #mostra apenas o numero de linhas

In [ ]:
# comando df.info()
print(ca_df.info())
 # mostra quais sao as colunas e seus respectivos tipos de dados

In [ ]:
# comando df.describe
print(ca_df.describe()) # mostra media,desvio padrao, etc função só

In [ ]:
# filtrar apenas uma coluna:
display(ca_df['Revenda'])

In [ ]:
# criando um novo dataframe apenas com as colunas desejadas:
cb_df = ca_df[['Revenda', 'Municipio', 'Produto', 'Valor de Venda']]
display(cb_df)

In [ ]:
#Exibir a 4a linha através do comando .loc:
display(cb_df.loc[3])

In [ ]:
#Exibir da 10a linha até a 20a linha:
display(cb_df.loc[9:19])

In [ ]:
# criando e exibindo na tela um dataframe gas_df contendo
# apenas as 4 colunas(revenda,municipio, produto, valor de venda):
# somente com combustível gasolina:
gas_df = ca_df[['Revenda', 'Municipio', 'Produto', 'Valor de Venda']]
gas_df = gas_df.loc[gas_df['Produto']=='GASOLINA']
display(gas_df)

In [ ]:
# mostrando agora o maior preço de GASOLINA:
display(gas_df.max())

In [ ]:
#mostrando o posto, municipio e o preço da gasolina mais cara do país:
display(gas_df[['Revenda', 'Municipio', 'Valor de Venda']].max())

In [ ]:
#DataFrame.loc[] com múltiplas condições para filtragem
#Quais são os preços de ETANOL na minha cidade (RIO DE JANEIRO)?
#ordenado do menor preço para o maior
et_rj_df = cb_df.loc[(cb_df['Produto'] == 'ETANOL') & (cb_df['Municipio'] == 'RIO DE JANEIRO')]
et_rj_df.sort_values(by='Valor de Venda', inplace=True, ascending = False)
display(et_rj_df)

/usr/local/lib/python3.8/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

,Revenda,Municipio,Produto,Valor de Venda
5886,POSTO DE GASOLINA RIAS BAIXAS LTDA,RIO DE JANEIRO,ETANOL,7.499
48210,POSTO DE ABASTECIMENTO UBA GERAIS LTDA.,RIO DE JANEIRO,ETANOL,7.429
68432,SAO CRISTOVAO POSTO DE SERVIÇOS LTDA,RIO DE JANEIRO,ETANOL,7.398
150882,AUTO SERVICO BANCARIOS LTDA,RIO DE JANEIRO,ETANOL,7.299
76484,AUTO SERVICO BANCARIOS LTDA,RIO DE JANEIRO,ETANOL,7.299
...,...,...,...,...
94820,AUTO POSTO ARTUR RIOS - EIRELI,RIO DE JANEIRO,ETANOL,5.499
154713,POSTO DE ABASTECIMENTO M & R EIRELI,RIO DE JANEIRO,ETANOL,5.499
3501,POSTO DE GASOLINA GREICIGIL LTDA,RIO DE JANEIRO,ETANOL,5.499
150864,MOTO ROYAL POSTO DE SERVICOS EIRELI,RIO DE JANEIRO,ETANOL,5.499
19851,POSTO DE GASOLINA NOBRE LTDA,RIO DE JANEIRO,ETANOL,5.089

In [ ]:
#Qual a média de preços dos combustíveis GASOLINA e GASOLINA ADITIVADA do bairro BELA VISTA em SÃO PAULO
ga_gad_df = ca_df[['Produto','Municipio','Bairro','Valor de Venda']]
ga_gad_df = ga_gad_df.loc[(ga_gad_df['Municipio'] == 'SAO PAULO') &
                          ((ga_gad_df['Bairro'] == 'MOOCA') &
                           ((ga_gad_df['Produto'] == 'GASOLINA') |
                            (ga_gad_df['Produto'] == 'GASOLINA ADITIVADA')))]
display(ga_gad_df['Valor de Venda'].mean())

6.575595744680852

In [67]:
# Como mostrar média de valor de venda por COMBUSTÍVEL?

media_comb_df = cb_df[['Produto','Valor de Venda']].groupby(by='Produto').mean()
display(media_comb_df)

                    Valor de Venda
Produto
DIESEL                    5.375682
DIESEL S10                5.454901
ETANOL                    5.456115
GASOLINA                  6.708741
GASOLINA ADITIVADA        6.860422
GNV                       4.392935

In [ ]:
# Quero adicionar uma coluna de valor booleano no ca_df
# chamada "Ativo", que por padrão, vai ser True para todas as linhas
ca_df['Ativo'] = True
display(ca_df)

In [70]:
# E se eu quiser uma coluna nova chamada "Obs"
# que preencha automaticamente "MELHOR CIDADE"
# quando o municipio for "RIO DE JANEIRO"
#ca_df['Obs'] = 'MELHOR CIDADE' if (ca_df['Municipio'] == 'RIO DE JANEIRO') NÃO FUNCIONOU

SyntaxError: ignored

In [74]:
# Exportar para EXCEL o dataframe com etanol em RJ
et_rj_df = et_rj_df.reset_index()
et_rj_df.to_excel('et_rj_df.xlsx', sheet_name='Etanol em RJ')