<a href="https://colab.research.google.com/github/Calvin-Costa/cursopythonpanda/blob/main/Caderno1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Primeiro exemplo de manipulação de dados usando Python Pandas.

Autor: Calvin Costa

Data: 06 de Fevereiro de 2023

In [ ]:
# Instalar o pandas: !pip install pandas
# o ! é requerimento do colab. Fora dele é sem o !

In [ ]:
# importando biblioteca pandas no Python
import pandas as pd

ca_df = pd.read_excel("ca-2021-02.xlsx")

In [ ]:
#usa o print para ver o dataframe!
print(ca_df)

In [ ]:
#usar o display para ver o dataframe fica muito melhor!
display(ca_df)

In [ ]:

#exibir as primeiras 15 linhas
display(ca_df.head(15))

In [ ]:
# comando df.shape
print(ca_df.shape) #mostra numero de linhas e colunas (l,c)
print(ca_df.shape[0]) #mostra apenas o numero de linhas

In [32]:
# comando df.info()
print(ca_df.info()) # mostra quais sao as colunas e seus respectivos tipos de dados

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168409 entries, 0 to 168408
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     168409 non-null  object
 1   Estado - Sigla     168409 non-null  object
 2   Municipio          168409 non-null  object
 3   Revenda            168409 non-null  object
 4   CNPJ da Revenda    168409 non-null  object
 5   Nome da Rua        168409 non-null  object
 6   Numero Rua         168353 non-null  object
 7   Complemento        35057 non-null   object
 8   Bairro             168043 non-null  object
 9   Cep                168409 non-null  object
 10  Produto            168409 non-null  object
 11  Data da Coleta     168409 non-null  datetime64[ns]
 12  Valor de Venda     168409 non-null  float64
 13  Valor de Compra    0 non-null       float64
 14  Unidade de Medida  168409 non-null  object
 15  Bandeira           168409 non-null  object
dtypes: datetime64[ns](1), float64(2), object(13)
memory usage: 20.6+ MB
None

In [ ]:
# comando df.describe
print(ca_df.describe()) # mostra media,desvio padrao, etc função só

In [36]:
# filtrar apenas uma coluna:
display(ca_df['Revenda'])

0                               POSTO ARAPIRACA LTDA
1                               POSTO ARAPIRACA LTDA
2                               POSTO ARAPIRACA LTDA
3                               POSTO ARAPIRACA LTDA
4                               POSTO ARAPIRACA LTDA
                             ...
168404    COMERCIAL DE COMBUSTIVEL CACHOEIRINHA LTDA
168405             ABC DISTRIBUICAO DE PETROLEO LTDA
168406             ABC DISTRIBUICAO DE PETROLEO LTDA
168407             ABC DISTRIBUICAO DE PETROLEO LTDA
168408             ABC DISTRIBUICAO DE PETROLEO LTDA
Name: Revenda, Length: 168409, dtype: object

In [ ]:
# criando um novo dataframe apenas com as colunas desejadas:
cb_df = ca_df[['Revenda', 'Municipio', 'Produto', 'Valor de Venda']]
display(cb_df)

In [46]:
#Exibir a 4a linha:
display(cb_df.loc[3])

Revenda           POSTO ARAPIRACA LTDA
Municipio                    ARAPIRACA
Produto             GASOLINA ADITIVADA
Valor de Venda                   6.899
Name: 3, dtype: object